:root {
  --color-bg-primary: #0d1117; /* Color de fondo principal */
  --color-bg-secondary: #161b22; /* Color de fondo secundario */
  --color-bg-tertiary: #0d1117; /* Color de fondo terciario */
  --color-border-primary: #30363d; /* Color del borde principal */
  --color-text-primary: #c9d1d9; /* Color de texto principal */
  --color-text-secondary: #8b949e; /* Color de texto secundario */
  --color-text-tertiary: #f0f6fc; /* Color de texto terciario */
  --color-link-primary: #58a6ff; /* Color de enlace principal */
  --color-link-secondary: #1f6feb; /* Color de enlace secundario */
  --color-link-hover: #c9d1d9; /* Color de enlace al pasar el mouse */
  --color-accent-primary: #1f6feb; /* Color de acento principal */
  --color-accent-secondary: #6e40c9; /* Color de acento secundario */
  --color-error: #d73a49; /* Color de error */
  --color-success: #2ea44f; /* Color de éxito */
}

/*General*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Configuraciones por etiquetas*/
body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--color-bg-primary);
  margin: 0;
  padding: 20px;
}

main{
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

header{
  background-color: var(--color-bg-secondary);
  border:  1px solid var(--color-border-primary);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;

  display: flex;
  justify-content:space-between;
}

h1{
  color: var(--color-text-primary);
  font-size: 30px;
  text-align: center;
}

h2{
  color: var(--color-text-secondary);
  font-size: 25px;
}


input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
  background-color: var(--color-bg-secondary) ;
  color: var(--color-text-secondary);
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--color-success);
  color: var(--color-text-primary);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: var(--color-accent-primary);
}

p{
  color: var(--color-text-secondary);
}

/*Configuracion por class*/

.guess-button-reinicio{
  display: none;
}

#sabias-que{
  color: var(--color-accent-primary);
  font-style: normal;
}

#grid {
  margin-top: 20px;
}

.letter {
  border: 1px solid var(--color-border-primary);
  padding: 3px;
  margin: 3px;
  min-width: 20px;
  text-align: center;
  background: var(--color-bg-tertiary);
  display: inline-block;
  color: var(--color-text-tertiary);
}

.row {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area {
  margin: 30px;
}


/**Ventana Modal*/
.ventana-modal{
  height: 100%;
  width: 100%;
  position: fixed;/* Posición fija para cubrir toda la pantalla */
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4); /* Fondo semi-transparente */
  align-items: center;
  justify-content: center;
}

.modal-contenido{
  display: flex;
  background-color: var(--color-bg-tertiary);
  border: 1px solid var(--color-border-primary);
  border-radius: 25px;
  width: 50%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 25%;
}

.modal-contenido img{
  width: 50%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  object-fit: cover; /*Ver mas iformacion*/
  filter: contrast(120%);/*Ver mas iformacion*/
}
.modal-contenido > div{
  width: 50%;
  padding: 20px 10px;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}